<h1>Main#user_items</h1>
<%= @temp %>
<table class="table">
  <tr>
    <th></th>
    <th>Price</th>
    <th>Name</th>
    <th>Stock</th>
    <th></th>
    <th></th>
  </tr>
  <% i = 1 %>
  <% for data in @db %>
    <tr>
      <td><%= i %></td>
      <td><%= data.price %></td>
      <td><%= data.name %></td>
      <td><%= data.stock %></td>
      <td><%= button_to('edit',edit_item_path(data.id),method: :get, class: 'btn btn-primary') %></td>
      <td><%= button_to('delete', item_path(data.id), method: :delete, class: 'btn btn-primary') %></td>
      <% i+=1 %>
    </tr>
  <% end %>
</table>
<%= button_to('new', new_item_path, method: :get, class: 'btn btn-primary') %>